<% include ./header %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form class="form-signin" action="/forgot" method="post">
        <h1>Forgot Password</h1>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" autofocus class="form-control" />
        </div>

        <button type="submit" class=" btn btn-primary" value="Reset Password">
          Update Password
        </button>
      </form>
    </div>
  </div>
</div>
