<!DOCTYPE html>
<html>
  <head>
    <title>Yelp Camp</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    />
  </head>
  <body>
    <h1>Landing page!</h1>
    <p>Welcome to Yelp Camp</p>

    <a href="/campgrounds">View all campgrounds</a>
  </body>
</html>
