<% include ./header %>
<div class='container'>
  <div class="row">
    <div class='col-md-12'>
      <h1>Login</h1>
      <form class='form-signin' action="/login" method="post">
        <label for="inputUsername" class="sr-only">Username</label>  
        <input id ="inputUsername" class="form-control topBox" type="text" name="username" placeholder="username" required autofocus/>
        <label for="inputPassword" class="sr-only">Password</label>  
        <input id="iputPassword" class="form-control bottomBox" type="password" name="password" placeholder="password" required/>
      </br>
        <button class="btn btn-md btn-primary btn-block">Login</button>
      </form>

    <div class='form-signin'>
      <a href="/forgot">Forgot Password</a> </br>
      <a href="/campgrounds">Go Back</a></div>
    </div>
  </div>
</div>