<!DOCTYPE html>
<html>
  <head>
    <Title>Yelp Camp</Title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    />
  </head>
  <body>
    <h1>Create a New Campground!</h1>
    <form action="/campgrounds" method="post">
      <input type="text" name="name" placeholder="name" />
      <input type="text" name="img" placeholder="image url" /> <button>Submit!</button>
    </form>
    <a href="/campgrounds">Go back</a>
  </body>
</html>
