<!DOCTYPE html>
<html>
  <head>
    <Title>Yelp Camp</Title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
    />
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header"><a class="navbar-brand" href="/">Yelp Camp</a></div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Login</a></li>
            <li><a href="/">Sign Up</a></li>
            <li><a href="/">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <h1 style="text-align: center">Create a New Campground!</h1>
        <div style="width: 30%; margin:25px auto">
          <form action="/campgrounds" method="post">
            <div class="form-group">
              <input class="form-control" type="text" name="name" placeholder="name" />
            </div>
            <div class="form-group">
              <input class="form-control" type="text" name="img" placeholder="image url" />
            </div>
            <div class="form-group">
              <input
                class="form-control"
                type="text"
                name="description"
                placeholder="description"
              />
            </div>
            <div class="form-group">
              <button class="btn btn-lg btn-default btn-block btn-primary">Submit!</button>
            </div>
          </form>
          <a href="/campgrounds">Go back</a>
        </div>
      </div>
    </div>
  </body>
</html>
