<% include ./header %>

<div class="row">
  <div>
    <h1>Sign up</h1>
    <form action="/register" method="post">
      <div class="signUp form-group">
        <input class="form-control" type="text" name="username" placeholder="username" />
      </div>
      <div class="signUp form-group">
        <input class="form-control" type="password" name="password" placeholder="password" />
      </div>
      <div class="signUp form-group">
        <input class="form-control" type="text" name="firstName" placeholder="First Name" />
      </div>
      <div class="signUp form-group">
        <input class="form-control" type="text" name="lastName" placeholder="Last Name" />
      </div>
      <div class="signUp form-group">
        <input class="form-control" type="email" name="email" placeholder="email" />
      </div>
      <div class="signUp form-group">
        <input class="form-control" type="text" name="avatar" placeholder="avatar url" />
      </div>
      <div class="signUp form-group">
        <button class="btn btn-md btn-primary btn-block">Sign up!</button>
      </div>
    </form>
  </div>
  <div class="button"><a href="/campgrounds">Go Back</a></div>
</div>
