<% include ./header %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Sign up</h1>
      <form class="form-signin" action="/register" method="post">
        <h6>Account Info</h6>
        <label for="inputUsername" class="sr-only">Username</label>
        <input
          id="inputUsername"
          class="form-control topBox"
          type="text"
          name="username"
          placeholder="username"
          required
          autofocus
        />
        <label for="inputPassword" class="sr-only">Password</label>
        <input
          id="inputPassword"
          class="form-control bottomBox"
          type="password"
          name="password"
          placeholder="password"
          minlength=8
          required
        />
       
        <h6>Personal Info</h6>
        <label for="inputFirstName" class="sr-only">First Name</label>
        <input
          id="inputFirstName"
          class="form-control topBox"
          type="text"
          name="firstName"
          placeholder="First Name"
          required
        />
        <label for="inputLastName" class="sr-only">Last Name</label>
        <input
          id="inputLastName"
          class="form-control middleBox"
          type="text"
          name="lastName"
          placeholder="Last Name"
          required
        />
        <label for="inputEmail" class="sr-only">email</label>
        <input id="inputEmail" class="form-control middleBox" type="email" name="email" placeholder="email" required/>
        <label for="inputDescription" class="sr-only">Description</label>
        <textarea
          id="inputDescription"
          class="form-control bottomBox"
          name="userDescription"
          placeholder="Tell us about yourself"
          rows=5
          required
        ></textarea>
        
      </br>
        <button class="btn btn-lg btn-primary btn-block">Sign up!</button>
      </form>
      <div class="form-signin">
        <a class="btn goBack" href="/campgrounds"><i class="fa fa-arrow-left"></i> Go back</a>
      </div>
    </div>
  </div>
</div>
