<% include ./header %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form class="form-signin" action="/reset/<%= token %>" method="post">
        <h1>Reset Password</h1>

        <label class="sr-only" for="password">New Password</label>
        <input
          type="password"
          name="password"
          value=""
          placeholder="New Password"
          autofocus="autofocus"
          class="form-control"
        />

        <label class="sr-only" for="confirm">Confirm Password</label>
        <input
          type="password"
          name="confirm"
          value=""
          placeholder="Confirm Password"
          class="form-control"
        />
      </br>
        <button type="submit" class=" btn btn-primary">Update Password</button>
      </form>
    </div>
  </div>
</div>
