.thumbnail img {
  width: 100%;
}

.thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
  padding: 9px;
}

#delete-form {
  display: inline;
}

.row h1 {
  text-align: center;
}

.form-group {
  width: 30%;
  margin: 15px auto;
}

.button {
  margin: 25px auto;
  padding: 0 35%;
}
