.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin .goBack {
  padding-top: 0;
}

#inputPassword {
  margin-bottom: 30px;
}
.topBox {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.bottomBox {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.middleBox {
  margin-bottom: -1px;
  border-radius: 0;
}

#inputAvatar {
  margin-bottom: 30px;
}

body {
  margin-bottom: 60px;
  background-color: #eff1f4;
}

.container .text-muted {
  margin: 20px 0;
}

.thumbnail img {
  width: 50%;
}

.thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
  padding: 9px;
}

.row h1 {
  text-align: center;
}

#map {
  height: 400px;
  width: 100%;
}

.signUp {
  width: 30%;
  margin: 15px auto;
}

.delete-form {
  display: inline-block;
}
.checked {
  color: orange;
}

.card-title {
  margin-bottom: 0.4rem;
}

.indexImg {
  height: 25%;
}
#infoB {
  margin: 10px;
}

.user {
  margin-right: 10px;
}

.goBack {
  padding: 10px 0px;
}

#reviewText {
  margin-top: 35px;
}

body #date {
  text-align: right;
}

.description {
  margin-top: 30px;
}

#campgroundList {
  text-align: left;
}

#userName {
  text-align: left;
}

#userPageRating {
  margin: 0;
}
